<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="szpv-log"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs_dir:-.}/szpv.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logs_dir:-.}/szpv.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>250MB</maxFileSize>
            <maxHistory>45</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="szpv-app-log"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs_dir:-.}/szpv-app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logs_dir:-.}/szpv-app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <logger name="ru.tdi.misintegration.szpv.service.LoggerService" level="info" additivity="false">
        <appender-ref ref="szpv-log" />
    </logger>

    <root level="info">
        <appender-ref ref="szpv-app-log" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
